PORT=10000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname?retryWrites=true&w=majority
CLICKPESA_CLIENT_ID=your_client_id
CLICKPESA_API_KEY=your_api_key
MALIPOPAY_SECRET_KEY=your_secret_key
MALIPOPAY_PUBLIC_KEY=your_public_key
MALIPOPAY_KEY_ID=your_key_id
MALIPOPAY_ENV=prod
CALLBACK_URL=https://your-domain.com/webhook
PESAPAL_CONSUMER_KEY=your_pesapal_consumer_key
PESAPAL_CONSUMER_SECRET=your_pesapal_consumer_secret
PESAPAL_ENV=production
PUBLIC_BASE_URL=https://your-domain.com
VOXOPAY_MERCHANT_ID=your_merchant_id
VOXOPAY_API_KEY=your_api_key
VOXOPAY_API_SECRET=your_api_secret
VOXOPAY_ENV=production
VOXOPAY_IPN_URL=https://your-domain.com/webhook
VOXOPAY_SUCCESS_URL=https://your-domain.com/payment/success
VOXOPAY_CANCEL_URL=https://your-domain.com/payment/cancel
